html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: "Bevan", cursive;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

.class {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.class li {
  display: inline-block;
  font-family: sans-serif;
  margin: .3em;
  padding: .75em;
  background-color: #713837;
  border-radius: 4px;
  text-align: center;
}

h1 {
  display: block;
  color: #fff;
  margin-left: : auto;
  margin-right: auto;
  text-align: center;
}

.class {
  margin: 0;
  padding: 0;
}

.class nav ul {
  text-align: center;
  list-style-type: none;
}

.class a {
  display: inline-block;
  background-color: #713837;
  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
  text-decoration: none;
}

a:hover {
  display: inline-block;
  background-color: #f33;
  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;

}

body {
  background-color: #79756f;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
}
